<html>
  <head>
    <title>Employee Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Load the CSS from the static folder -->
    <link rel="stylesheet" href="/static/styles.css" />
    <!-- Load the JS from the static folder -->
    <script src="/static/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <a href="/">
        <img
          src="https://assets.vodafone.co.uk/cs/groups/public/documents/webcontent/img_vodafone__icon.png"
          style="margin-bottom: 12px"
          alt="Vodafone Logo"
          width="60"
          height="60"
        />
      </a>

      <h1>Employee Tracker</h1>
      <p>Use the below search bar to search employees.</p>
      <form method="get">
        <div class="group">
          <input
            type="text"
            name="query"
            placeholder="Search by employee name"
            value="{{ request.args.get('query', '') }}"
            required
          />
          <input type="submit" value="Search" />
          <a href="/">
            <button class="button-secondary" type="button">Clear</button>
          </a>
        </div>
      </form>

      <div style="margin-top: 1rem">
        {% if data %}
        <p>
          Tip: Press any of the table headings to sort them in an ascending or
          descending order.
        </p>
        <table>
          <thead>
            <tr>
              <!-- If the table heading is pressed twice, then switch the sort by order -->
              <th>
                <a
                  href="?sort_by=first_name&order={{ 'asc' if sort_by == 'first_name' and order == 'desc' else 'desc' }}"
                  >First Name</a
                >
              </th>
              <th>
                <a
                  href="?sort_by=last_name&order={{ 'asc' if sort_by == 'last_name' and order == 'desc' else 'desc' }}"
                  >Last Name</a
                >
              </th>
              <th>
                <a
                  href="?sort_by=age&order={{ 'asc' if sort_by == 'age' and order == 'desc' else 'desc' }}"
                  >Age</a
                >
              </th>
              <th>
                <a
                  href="?sort_by=employed&order={{ 'asc' if sort_by == 'employed' and order == 'desc' else 'desc' }}"
                  >Employed</a
                >
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through the data and show each row -->
            {% for row in data %}
            <tr>
              <td>{{ row.first_name }}</td>
              <td>{{ row.last_name }}</td>
              <td>{{ row.age }}</td>
              <td>{{ row.employed }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <!-- Show a message if there is no data (e.g. no search results) -->
        <p>No employees found.</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
